<footer id="globalFooter">
  <div class="footerDept">
    <ul xmlns="http://www.w3.org/1999/xhtml">
      <li>UVU Foundation</li>
      <li><a href="mailto:giving@uvu.edu">giving@uvu.edu</a></li>
      <li>(801) 863-8568</li>
      <li>800 West University Parkway MS111 • Orem, UT 84058</li>
    </ul>
  </div>
  <div class="footerUniversity">
    <div class="footerUniversity-top">
      <div class="container-fluid">
        <div class="row equal-height uppercase">
          <div class="col-sm-3">
            <div>
              <h2>Student</h2>
              <ul>
                <li><a href="https://www.uvu.edu/admissions/">Admissions</a></li>
                <li><a href="https://www.uvu.edu/academics">Academics</a></li>
                <li><a href="https://www.uvu.edu/campuslife/">Campus Life</a></li>
                <li><a href="https://www.uvu.edu/whyuvu/">Looking to attend UVU</a></li>
                <li><a href="https://www.uvu.edu/students/">Current Student</a></li>
                <li><a href="https://www.uvu.edu/accreditation/">Accreditation</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div>
              <h2>Staff</h2>
              <ul>
                <li><a href="https://www.uvu.edu/facstaff/">Areas of Support</a></li>
                <li><a href="https://www.uvu.edu/directory/">Directory</a></li>
                <li><a href="https://www.uvu.edu/talentbureau/">Talent Bureau</a></li>
                <li><a href="https://www.uvu.edu/hr/jobs/index.html">Work at UVU</a></li>
                <li><a href="https://www.uvu.edu/hr">Human Resources</a></li>
              </ul>
              <h2>Faculty</h2>
              <ul>
                <li><a href="https://www.uvu.edu/facsenate/">Meet the faculty</a></li>
                <li><a href="https://www.uvualumni.org/">Alumni</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div>
              <h2>Community</h2>
              <ul>
                <li><a href="https://www.uvu.edu/visitors/">Visitors &amp; Community</a></li>
                <li><a href="https://www.uvu.edu/president/">Office of the President</a></li>
                <li><a href="https://www.uvu.edu/visitors/history.html">About UVU / History</a></li>
                <li><a href="https://www.uvu.edu/inclusion/">Inclusion &amp; Diversity</a></li>
                <li><a lang="es" href="https://www.uvu.edu/latinos/" hreflang="es">Español</a></li>
                <li><a href="https://www.uvu.edu/supportuvu/" target="_blank" rel="noopener">Give to UVU</a></li>
                <li><a href="https://www.uvu.edu/visitors/contact.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div>
              <h2>Utility</h2>
              <ul>
                <li><a href="https://www.uvu.edu/covidinfo">COVID-19 Info</a></li>
                <li><a href="https://www.uvu.edu/maps/">Maps / Parking</a></li>
                <li><a href="https://www.uvu.edu/servicedesk/">Service Desk</a></li>
                <li><a href="https://www.uvu.edu/safety/emergency.php">Emergency</a></li>
                <li><a href="https://www.uvu.edu/police/">Police</a></li>
                <li><a href="https://www.uvu.edu/servicedesk/">Get Help</a></li>
                <li><a href="https://www.uvu.edu/search/">Search</a></li>
                <li><a href="https://www.uvu.edu/accessibility-services/index.html">Accessibility</a></li>
                <li><a href="https://www.uvu.edu/equalopportunity/titleix/">Title IX / Equal Opportunity</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerUniversity-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 center-content">
            <ul class="footerUniversity-quicklinks">
              <li><a href="https://www.uvu.edu/news/"><span class="far fa-newspaper" aria-hidden="true">&nbsp;</span>News</a></li>
              <li><a href="https://www.uvu.edu/events/"><span class="far fa-calendar-day" aria-hidden="true">&nbsp;</span>Events</a></li>
            </ul>
            <div class="footerUniversity-title uppercase">Utah Valley University</div>
            <ul class="footerUniversity-contact uppercase">
              <li><a title="See Utah Valley University on Google Maps" href="https://goo.gl/maps/9SQ5CSuqAoG1gw6J8">800&nbsp;West&nbsp;University&nbsp;Parkway,&nbsp;Orem,&nbsp;UT&nbsp;84058</a></li>
              <li>(801)&nbsp;863-8888</li>
              <li><a href="https://www.uvu.edu/legal/copyright/">© Utah Valley University</a></li>
            </ul>
            <ul class="footerUniversity-legalinfo">
              <li><a href="https://www.uvu.edu/legal/index.html">Terms of Use</a></li>
              <li><a href="https://www.uvu.edu/legal/privacy.html">Privacy Statement</a></li>
              <li><a href="https://www.uvu.edu/legal/copyright/copyright-infringement.html">Copyright Complaints</a></li>
              <li><a href="https://www.uvu.edu/legal/non-discrimination.html">Non-Discrimination</a></li>
            </ul>
            <ul class="university-social"><li><a title="Opens UVU&#39;s Linkedin profile in a new tab" href="https://www.linkedin.com/school/utah-valley-university/" target="_blank" rel="external noopener"> <span class="fa fa-linkedin text-white" aria-hidden="true"></span> <span class="sr-only">Linkedin</span> </a></li>
              <li><a title="Opens UVU&#39;s Instagram profile in a new tab" href="https://www.instagram.com/utah.valley.university/" target="_blank" rel="external noopener"> <span class="fa fa-instagram text-white" aria-hidden="true"></span> <span class="sr-only">Instagram</span> </a></li>
              <li><a title="Opens UVU&#39;s Facebook profile in a new tab" href="https://www.facebook.com/UtahValleyUniversity/" target="_blank" rel="external noopener"> <span class="fa fa-facebook-square text-white" aria-hidden="true"></span> <span class="sr-only">Facebook</span> </a></li>
              <li><a title="Opens UVU&#39;s YouTube channel in a new tab" href="https://www.youtube.com/user/UtahValleyUniversity" target="_blank" rel="external noopener"> <span class="fa fa-youtube-square text-white" aria-hidden="true"></span> <span class="sr-only">YouTube</span> </a></li>
              <li><a title="Opens UVU&#39;s Twitter profile in a new tab" href="https://twitter.com/UVU" target="_blank" rel="external noopener"> <span class="fa fa-twitter-square text-white" aria-hidden="true"></span> <span class="sr-only">Twitter</span> </a></li>
              <li><a title="Opens the UVU Athletics site in a new tab" href="https://gouvu.com/" target="_blank" rel="external noopener"><img src="./img/wolverine-logo.svg" aria-hidden="true"><span class="sr-only">Athletics</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>