<footer id="globalFooter">
  <div class="footerDept">

  </div>
  <div class="footerUniversity">
    <div class="footerUniversity-top">

    </div>
    <div class="footerUniversity-bottom">
      
    </div>
  </div>
</footer>