<header id="globalHeader">
  <div class="globalHeaderMain">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="https://www.uvu.edu/" title="Utah Valley University Homepage">
        <img src="/img/uvu-mono.svg" alt="UVU logo">
      </a>
      <a class="deptTitle" lang="en" hreflang="en" href="https://www.uvu.edu/advancement">
        Institutional Advancement</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto global-quicklinks">
          <li class="nav-item">
            <a class="nav-link" href="https://www.uvu.edu/admissions/">
              Apply to UVU
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.uvu.edu/whyuvu/">
              Why UVU
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://my.uvu.edu/">
              myUVU
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <nav id="deptNav">
    <div class="deptNavWrap" lang="en">
      <ul xmlns="http://www.w3.org/1999/xhtml">
        <li><a href="https://www.uvu.edu/give">Give Now</a></li>
        <li><a href="https://www.uvu.edu/advancement/upnext" target="_blank" title="This link will open in a new window." rel="nofollow noopener">UPnext</a></li>
        <li><a href="https://www.uvu.edu/advancement/events">Events</a></li>
        <li><a href="https://www.uvu.edu/advancement/reports">Reports</a></li>
        <li><a href="http://uvualumni.org/">UVU Alumni</a></li>
        <li><a href="https://www.uvu.edu/advancement/ways-to-give">Ways to Give</a></li>
        <li><a href="https://www.uvu.edu/advancement/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>