<div class="card-body">
    <h5 class="card-title">UPnext Example</h5>
    <p>
    <strong>ID</strong>: {{dataValues.id}}</p>
    <p>
    <p>
    <strong>Title</strong>: {{dataValues.title}}</p>
    <p>
    <strong>Description:</strong> {{dataValues.summary}}</p>
    <a href="/">← Back To Home</a>
</div>