<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> --}}
		<!-- Optional theme -->
		{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css"> --}}
		<link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
		<title>UPnext</title>
	</head>
	<body>
    {{!-- {{#> header}}
      {{> header}}
    {{/header}} --}}
		{{{ body }}}
    {{!-- {{#> footer}}
      {{> footer}}
    {{/footer}} --}}
	{{!-- Add in jQuery --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/js/script.js"></script>
	</body>
</html>
