<div id="UPnext" class="main">
  <!-- Page Header -->
  <section class="page-header jumbo fullbleed header-opacity-6" style="background-image: url(/img/upnext-header-roots.jpg); background-size: cover;" data-uvu-template="header-fullbleed" data-uvu-section="1">
    <div class="container-fluid">
      <header class="fullbleed-overlay contain text-invert">
        <h1>UPnext</h1>  
        <p class="subtitle">Learn what is UPnext at UVU</p>
      </header>
    </div>
  </section>
  <section class="upnext-home">
    <div class="upnext-home-top container-fluid">
      <div class="upnext-intro row">
        <div class="col-xs-12 col-target region">
          <h1>What is UPnext?</h1>             
          <p>Utah Valley University (UVU) prepares students to enter an ever-changing and diverse
              workforce. Each month, Institutional Advancement’s (IA) video series, UPnext, spotlights
              different initiatives and achievements made possible by the financial support of donors.
              See how your contributions empower students to further their education, reach professional
              goals, and make a powerful impact in the community and world.
          </p>
        </div>
      </div>
      <div class="upnext-promo">
        <iframe src="https://www.youtube.com/embed/URjpphSxgYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div id="row">

    </div>
    <div id="events_container">
        <p>These are example events</p>
        {{#each Event}}
            {{> event-block
              name=dataValues.event_name
              imgName=dataValues.imgName
              imgAlt=dataValues.imgAlt
              date=dataValues.event_date
              description=dataValues.event_description
            }}
        {{/each}}
    </div>
    <div id="upNext_container">
        <p>UpNext</p>
        {{#each upNext}}
            {{> upNext-block
              title=dataValues.title
              imgName=dataValues.imgName
              imgAlt=dataValues.imgAlt
              summary=dataValues.summary
              upNextLink=dataValues.link
            }}
        {{/each}}
    </div>
  </section>
</div>

<!--js files-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>