<div id="events_container">
    {{#each Event}}
        {{ partials/event-block}}
    {{/each}}
</div>
<div id="upNext_container">
    {{#each upNext}}
        {{ partials/upNext-block}}
    {{/each}}
</div>