#events_container {
    background-color: #e7e5e4;
    padding: 15px 20px;
    position: relative;
    overflow: hidden;
    align-self: stretch;
    margin-block-end: 20px;
}
#events_container .event-card {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    position: relative;
}
#events_container .event-card .event-img-container,
#events_container .event-card .event {
    width: 100%;
}
#events_container .event-card .event-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}